/* --------------------------- *\ */
/* --------------------------- */
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600,700);
/* --------------------------- *\ */
/* --------------------------- */
/* --------------------------- *\ */
/* --------------------------- */
body {
  background-color: #f4f4f4;
  background-image: url("../images/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #6e6e6e;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  margin-bottom: 60px;
}

@media only screen and (max-width: 767px) {
  body {
    margin-bottom: 0;
  }
}
/* --------------------------- *\ */
/* --------------------------- */
.Header {
  margin-top: 100px;
}

.Header-logo {
  margin: 0;
}

.Header-about {
  margin: 0 auto;
  width: 50%;
}

.Header-item {
  display: inline-block;
  vertical-align: top;
}

.Header-item--logo {
  margin-right: 15px;
  width: 20%;
}

.Header-item--info {
  width: 75%;
}

.Header-title {
  color: #004975;
  font-size: 1.25em;
}

@media only screen and (max-width: 1366px) {
  .Header {
    margin-top: 15px;
  }
}
@media only screen and (max-width: 991px) {
  .Header {
    margin-top: 100px;
  }

  .Header-logo img {
    width: 20%;
  }

  .Header-item {
    display: block;
  }

  .Header-item--logo, .Header-item--info {
    margin: 0;
    width: 100%;
  }

  .Header-about .Header-logo img {
    width: auto;
  }
}
@media only screen and (max-width: 767px) {
  .Header {
    margin-top: 20px;
  }

  .Header-logo img {
    width: 30%;
  }

  .Header-about {
    width: 80%;
  }
}
/* --------------------------- *\ */
/* --------------------------- */
.Content-home {
  margin: 0 auto;
  width: 50%;
}

.Content-form {
  margin: 20px auto 0;
  width: 45%;
}

.Content-title {
  color: #004975;
  font-size: 1.875em;
}

.Content-msg {
  color: #004975;
  font-size: 1em;
}

.Content-buttons {
  margin-top: 20px;
}
.Content-buttons div {
  margin-bottom: 15px;
}

.Content-subtitle {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.3em;
  font-weight: 600;
}

.Content-hr {
  background: transparent url("../images/bg-border-footer.jpg") 0 0 repeat-y;
  background-size: contain;
  height: 2px;
}

@media only screen and (max-width: 1366px) {
  .Content-home {
    width: 60%;
  }
}
@media only screen and (max-width: 991px) {
  .Content-form {
    width: 60%;
  }

  .Content-video {
    height: auto !important;
    width: 100% !important;
  }
}
@media only screen and (max-width: 767px) {
  .Content-home {
    width: 80%;
  }

  .Content-form {
    width: 80%;
  }

  .Content-subtitle {
    font-size: 1.25em;
    margin-bottom: 20px;
  }
}
/* --------------------------- *\ */
/* --------------------------- */
.Form {
  margin: 30px auto 0 auto;
  width: 60%;
}

.Form-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #004975;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #004975;
  font-size: 1em;
  font-weight: 300;
}
.Form-input:-moz-placeholder {
  color: #004975;
}
.Form-input::-moz-placeholder {
  color: #004975;
}
.Form-input:-ms-input-placeholder {
  color: #004975;
}
.Form-input::-webkit-input-placeholder {
  color: #004975;
}
.Form-input:focus {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media only screen and (max-width: 767px) {
  .Form {
    width: 80%;
  }
}
/* --------------------------- *\ */
/* --------------------------- */
.Social {
  background-repeat: no-repeat;
  background-position: 0 0;
  display: inline-block;
  height: 56px;
  margin-right: 15px;
  vertical-align: top;
  width: 56px;
}

.Social:last-child {
  margin-right: 0;
}

.Social-fb {
  background-image: url("../images/fb.png");
}

.Social-twitter {
  background-image: url("../images/twitter.png");
}

.Social-whatsapp {
  background-image: url("../images/whatsapp.png");
}

.Social-email {
  background-image: url("../images/email.png");
}

.Social-phone {
  background-image: url("../images/phone.png");
}

/* --------------------------- *\ */
/* --------------------------- */
.Text-resalt {
  color: #004975;
}

.Text-red {
  color: #e0040b;
}

.Button {
  border: none;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  color: white;
  display: inline-block;
  font-size: 1.125em;
  font-weight: 300;
  padding: 10px 15px;
}
.Button:hover {
  color: white;
  text-decoration: none;
}

.Button-normal {
  background-color: #004975;
}

.Button-bg {
  background: transparent url("../images/bg-button.png") 0 0 repeat-y;
  padding: 10px 50px;
}

@media only screen and (max-width: 991px) {
  .Button {
    padding-bottom: 15px;
    padding-top: 15px;
  }
}
@media only screen and (max-width: 450px) {
  .Button-bg {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* --------------------------- *\ */
/* --------------------------- */
.Footer {
  background-color: #1e1e1e;
  bottom: 0;
  position: fixed;
  width: 100%;
}

.Footer-borderTop {
  background: transparent url("../images/bg-border-footer.jpg") 0 0 repeat-y;
  height: 3px;
  margin: 0 0 15px 0;
}

.Footer-copy {
  color: #7d7d7d;
  font-size: 0.625em;
}
.Footer-copy a {
  color: #7d7d7d;
}
.Footer-copy a:hover {
  color: #004975;
}

@media only screen and (max-width: 767px) {
  .Footer {
    bottom: auto;
    position: relative;
  }
}
/* --------------------------- *\ */
/* --------------------------- */
.Modal-dialog {
  margin-bottom: 0;
  margin-top: 150px;
}

.Modal-content {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.Modal-body {
  padding: 50px 15px;
}
.Modal-body p {
  color: #004975;
  font-weight: 700;
}
.Modal-body p::before {
  background: transparent url("../images/face.png") center 0 no-repeat;
  content: "";
  display: block;
  height: 76px;
  margin: 0 auto 15px auto;
  width: 76px;
}
.Modal-body p span {
  display: block;
  font-size: 1.25em;
}
